<div class="relative">
  <textarea
    type="text"
    class="w-full h-full bg-gray-800 text-white rounded focus:ring-0 focus:border-transparent border-transparent"
    [(ngModel)]="input"
    (keyup.enter)="submitInput($event)"
    (keydown.enter)="keydownEnter($event)"
    (keydown.arrowup)="goHistory(-1)"
    (keydown.arrowdown)="goHistory(1)"
    autoFocus
  ></textarea>
  <p
    class="absolute right-2 bottom-3 text-xs text-gray-300/75"
    [ngClass]="{
      'text-orange-500/75': input.length > 240,
      'text-red-500/75': input.length > 250
    }"
  >
    {{ input.length }}/248
  </p>
</div>
